/* stylelint-disable max-line-length */
/*
 * TCCC-UnityHeadline — Figma Components---TCCC. Official WOFF2 files are licensed;
 * replace tccc-unity-headline-dummy.woff2 with real cuts (400 Regular, 600 Medium) when available.
 * Current file is a stand-in so @font-face URLs resolve; metrics will not match the brand font.
 */
@font-face {
  font-family: 'TCCC-UnityHeadline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/tccc-unity-head-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TCCC-UnityHeadline';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/tccc-unity-head-regular.woff2') format('woff2');
}